body{
    background: linear-gradient(154deg, rgba(220, 230, 250, 1) 70%, rgba(245, 162, 217, 1) 100%);
    background-attachment: fixed;
}

#header{
    color: white;
    text-align: left;
}
.container { 
    display: flex; 
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
}
.profile, .description{ 
    flex: 1;
    background-color: #ffffffaa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}